<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include('head.html') %}
<!-- 본인 css 작성-->

<!-- JavaScript 입력 -->
<script>

</script>

<!-- Body 화면 작성 -->
<div class="main_wrap">
    <div class="main_container">
        <div class="main">
            <div class="main_img">
                <img src = "../static/main_img.jpg" class="img_food">
            </div>
            <div class="sub_img">
            </div>
            <div class="main_title">
                <div class="main_subtitle">
                    내가 알고 있는 맛집
                </div>
                <div class="main_logo">
                    #내맛소
                </div>
            </div>

{#            <div class = "left_main">#}
{#                <div class="main_img">#}
{#                    <img src = "../static/main_img.jpg" class="img_food">#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class = "right_main">#}
{#                <p style="font-size : 2vw;">#}
{#                    내가 알고 있는 맛집<br>#}
{#                    맛집 추천 공간#}
{#                </p>#}
{#                <p style="color : #005C30; font-size : 10vw;">#}
{#                    #내맛소#}
{#                </p>#}
{#            </div>#}
        </div>
    </div>
</div>
</body>
</html>